table,
th,
td {
    border: 1px solid black;
}

.center {
    text-align: center;
}

html {
    background-color: white;
}


body > table:nth-child(1) > tbody:nth-child(2) > tr:nth-child(7) > td:nth-child(3) {
    background-color: aquamarine;
}

body > table:nth-child(1) > tbody:nth-child(2) > tr:nth-child(7) > td:nth-child(2) {
    background-color: aquamarine;
}

body > table:nth-child(1) > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(2) {
    background-color: blue;
}

body > table:nth-child(1) > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(3) {
    background-color: brown;
}


body > table:nth-child(1) > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(4) {
    background-color: blue;
}

body > table:nth-child(1) > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(5) {
    background-color: blueviolet;
}
